:root {
  --cinza: #aaa;
  --vermelha: #6c7cd8;
  --vermelha-escura: #2b0091;
  --branca: #fff;
  --luz: rgb(47, 2, 77);
}

body {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

.teclado {
  background: black;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding: 10px;
}

.tecla {
  border-radius: 30px;
  border: 2px solid white;
  color: black;
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.logo{
  width: 20rem;
  height: 20rem;
}

.tecla_do{
  background-color: green;
}
 .tecla_re{
  background-color: yellow;
}
 .tecla_mi{
  background-color: orange;
}
 .tecla_fa{
  background-color: red;
}
 .tecla_sol{
  background-color: violet;
}
 .tecla_la{
  background-color: indigo;
}
 .tecla_si{
  background-color: blue;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}


@media only screen and (max-width:1500px){
  .teclado {
  flex-direction: column;
  margin: 0 2em;
 
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
  }
  .tecla {
    border-radius: 10px;

    color: black;
    cursor: pointer;
    height: 4.5 rem;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
    width: 4.5rem;
  }
}